@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

.header {

        position: fixed;
        background-color: #7e6641;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.titulo_header {

    color: #FFFAFA;
    font-weight: 800;
    font-size: 200%;
}

.logo{
    width: 180px;
    height: 180px;
    margin-top: 10px;
}

body {
    margin: 0;
    font-family:'Inter', sans-serif;
}

body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #FFCB83;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-login{
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #FFFAFA;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #D68606;
    font-weight: 800;
    margin: 0;
}

.textfield{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.textfield > input{

    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;

}

.textfield > label{
    color:#000000 ;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #4b4a4a93;
}

.textfield > input{
    color: #000000;
}

.btn-login{

    width: 100%;
    padding: 16px 0px;
    margin-top: 5%;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background-color: #D68606;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.card-login > p{
    color: #00ff88;
    font-weight: 300;
}

.card-login > a{
    color: #00ff88;
    font-weight: 300;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 653px){
    .main-login{
        flex-direction: column;
}
    .right-login{
        width: 100%;
        height: auto;

    }
    .card-login{
        width: 90%;
    }
}