@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

.header {

    
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    background-color: #201b2c;

}
.list-title {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    background-color: #201b2c;
    margin: 0;

      }

.logo_placeholder {

    color: #00ff88;
    font-weight: 800;
    font-size: 300%;

    
}

body {
    margin: 0;
    font-family:'Inter', sans-serif;
}
body *{
    box-sizing: border-box;
}
.main-lista{
    width: 100%;
    height: 100%;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-lista{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-lista{
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.a {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background:  #563f8d;
}

.a div:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
